∗ {
  margin: 0;
  padding: 0;
}

.jokesListWrapper {
  margin: 2rem auto 0;
  background-color: #a5d8ff;
  max-width: 60vw;
  list-style: none;
  padding: 2rem;
  box-sizing: border-box;
 }

 .jokesItemWrapper {
  padding: 1rem;
  color: white;
  background-color: #1864ab;
 }

 .jokesItemWrapper:not(:last-child) {
  margin-bottom: 1rem;
 }

 .appWrapper {
  padding-top: 3rem;
  width: 100vw;
  height: 100vh;
  background-color: #e7f5ff;
  text-align: center;
}

 @media only screen and (max-width: 1200px) {
  .jokesListWrapper {
  max-width: 90vw;
  }
 }